@page
@model ShopManagement.Web.Pages.Products.CreateModel

@section Scripts {
    <script src="~/Pages/Js/ProductForm.js"></script>
}

<h2>Create Product</h2>
<partial name="ProductFormViewModel" model="Model.ViewModel" />
