@page "{id:guid}"
@model ShopManagement.Web.Pages.Products.EditModel2

@section Styles {
    <link rel="stylesheet" href="~/Pages/Css/ProductForm.css" />
}

@section Scripts {
    <script src="~/Pages/Js/ProductForm.js"></script>
}

<h2>Edit Product</h2>
<partial name="ProductFormViewModel" model="Model.ProductForm" />
